<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form method="post" action="/posts">
      <label for="user">Enter Username: </label>
      <input type="text" name="username" id="user" placeholder="Username" />
      <label for="content">Write Content Here: </label>
      <textarea name="content" id="content" placeholder="Content"></textarea>
      <button type="submit">Submit Post</button>
    </form>
  </body>
</html>
