<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Here is your Post Details</h1>
    <div class="post">
      <h1>User Id : <%= post.id %></h1>
      <h1 class="user">Username: <%= post.username %></h1>
      <h1 class="content">Content: <%= post.content %></h1>
    </div>
  </body>
</html>
